<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
              th:href="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"
              rel="stylesheet" media="screen" />
        <link href="/static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
                th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    </head>
    <body>

        <!-- Panel Admin -->
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="panel panel-default" th:fragment="panel_admin">
            <ul class="list-group">
                <li class="list-group-item">
                    <p><strong>Panel admin</strong></p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-users text-muted"></i> <a href="/users">Utilisateurs</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </body>
</html>