.panel .list-group-item {
    padding: 20px;
}

/*
 * Background for the stade de france
 */
.bg-div {
    background-size: cover;
    height: 150px;
    background: no-repeat center;
    -webkit-background-size: cover;
}

/*
 * Vertical center for a block
 */
.vertical-center {
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}