<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Stade de France</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
              th:href="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"
              rel="stylesheet" media="screen" />
        <link href="/static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" media="screen" />
        <link href="/static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
                th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    </head>
    <body>
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div th:replace="fragments/panel_sdf :: panel_sdf"></div>
                </div>

                <!-- News feed -->
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <form action="" th:action="@{/}" th:object="${article}" method="post" role="form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" th:field="*{content}" placeholder="Message" required="required" />
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-search"><i class="glyphicon glyphicon-envelope"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </li>


                            <!-- News List loop -->
                            <li th:each="article : ${user.articles}" class="list-group-item">
                                <div class="media">
                                    <div class="pull-left">
                                        <a href="#"><img src="/static/images/zidane_mango_rire_croped.jpg" th:src="@{/images/zidane_mango_rire_croped.jpg}" width="65" class="img-circle media-object" /></a>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading">
                                            <strong>
                                                <span class="text-capitalize" th:text="${user.firstName}">First Name</span>
                                                <span class="text-capitalize" th:text="${user.lastName}">Last Name</span>
                                            </strong>
                                        </p>
                                        <span th:text="${article.content}"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </body>
</html>